In [1]:
#read_csv(): 데이터 파일 불러오기 -> 데이터프레임

In [4]:
import pandas as pd
csv_test=pd.read_csv("test_csv_file.csv")
csv_test

   ID LAST_NAME  AGE
0   1       KIM   30
1   2      CHOI   25
2   3       LEE   41
3   4      PARK   19
4   5       LIM   36

In [12]:
text=pd.read_csv("test_text_file.txt", sep="|", index_col="ID")
text

    A  B  C  D
ID
C1  1  2  3  4
C2  5  6  7  8
C3  1  3  5  7

In [16]:
text=pd.read_csv("text_without_column_name.txt", sep="|", header=None, names=['ID','A','B','C','D'])
text

   ID  A  B  C  D
0  C1  1  2  3  4
1  C2  5  6  7  8
2  C3  1  3  5  7

In [ ]:
#1. 타이타닉 데이터를 읽어보세요

In [18]:
type(text)
text.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 5 columns):
ID    3 non-null object
A     3 non-null int64
B     3 non-null int64
C     3 non-null int64
D     3 non-null int64
dtypes: int64(4), object(1)
memory usage: 200.0+ bytes

In [20]:
data={'ID':['A1','A2','A3'],
     'X1':[10,20,30],
     'X2':[1.1,2.2,3.3]}
data

{'ID': ['A1', 'A2', 'A3'], 'X1': [10, 20, 30], 'X2': [1.1, 2.2, 3.3]}

In [22]:
df=pd.DataFrame(data, index=['a1','a2','a3'])
df

    ID  X1   X2
a1  A1  10  1.1
a2  A2  20  2.2
a3  A3  30  3.3

In [23]:
#데이터프레임에 행 추가(인덱스)
df2=df.reindex(['a1','a2','a3','a4'])
df2
#pandas:NaN(결측값), deep:NaN(inf -> 발산)

     ID    X1   X2
a1   A1  10.0  1.1
a2   A2  20.0  2.2
a3   A3  30.0  3.3
a4  NaN   NaN  NaN

In [27]:
df2.to_csv("df2.csv", sep=",",na_rep="NaN")

In [30]:
import numpy as np
df1=pd.DataFrame(data=np.arange(12).reshape(3,4),
                index=['r0','r1','r2'],
                columns=['c0','c1','c2','c3'])
df1

    c0  c1  c2  c3
r0   0   1   2   3
r1   4   5   6   7
r2   8   9  10  11

In [31]:
df1.T

    r0  r1  r2
c0   0   4   8
c1   1   5   9
c2   2   6  10
c3   3   7  11

In [32]:
df1.axes

[Index(['r0', 'r1', 'r2'], dtype='object'),
 Index(['c0', 'c1', 'c2', 'c3'], dtype='object')]

In [35]:
df1.dtypes
#df1.info()

c0    int32
c1    int32
c2    int32
c3    int32
dtype: object

In [41]:
df1.shape
df1.size
df1
df1.values

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [47]:
df2=pd.DataFrame({'c1':['a','a','b','b','c'], 
                 'v1':np.arange(5),
                  'v2':np.random.randn(5)
                 },
                index=['r0','r1','r2','r3','r4']
                )
df2

   c1  v1        v2
r0  a   0 -0.202761
r1  a   1  0.750978
r2  b   2 -0.451299
r3  b   3  0.942786
r4  c   4 -1.132398

In [48]:
df2.index

Index(['r0', 'r1', 'r2', 'r3', 'r4'], dtype='object')

In [49]:
df2.ix[2:]

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

   c1  v1        v2
r2  b   2 -0.451299
r3  b   3  0.942786
r4  c   4 -1.132398

In [50]:
df2.ix[2]

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

c1           b
v1           2
v2   -0.451299
Name: r2, dtype: object

In [51]:
df2.ix['r2']
#ix사용시 행인덱스 이름, 행인덱스 번호 모두 사용가능

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

c1           b
v1           2
v2   -0.451299
Name: r2, dtype: object