In [ ]:
# 그룹화 연습

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [8]:
train = pd.read_csv('C:/users/user/Desktop/titanic/train.csv')

In [10]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [11]:
train.shape

(891, 12)

In [65]:
train_data = train[train['Cabin'].notnull()]

In [66]:
train_data['CabGrade'] = train_data['Cabin'].apply(lambda x:x[:1])

c:\users\user\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [67]:
g = train_data.groupby('CabGrade')
survived = g['Survived'].sum()
died = g['Survived'].count() - survived

In [68]:
dfSurvived = pd.merge(survived, died, on='CabGrade')
dfSurvived.columns = ['Survived', 'Died']
dfSurvived['rate'] = dfSurvived['Survived'] + dfSurvived['Died']

In [69]:
dfSurvived['total'] = dfSurvived['Survived'] + dfSurvived['Died']

In [70]:
dfSurvived['rate'] = dfSurvived['Survived'] / dfSurvived['total']

In [71]:
dfSurvived

          Survived  Died      rate  total
CabGrade
A                7     8  0.466667     15
B               35    12  0.744681     47
C               35    24  0.593220     59
D               25     8  0.757576     33
E               24     8  0.750000     32
F                8     5  0.615385     13
G                2     2  0.500000      4
T                0     1  0.000000      1

In [72]:
# 항구별 사망자
train_data = train[train['Embarked'].notnull()]

In [73]:
g = train_data.groupby('Embarked')
survived = g['Survived'].sum()
died = g['Survived'].count() - survived
dfSurvived = pd.merge(survived, died, on='Embarked')
dfSurvived.columns = ['Survived', 'Died']
dfSurvived

          Survived  Died
Embarked
C               93    75
Q               30    47
S              217   427

In [74]:
dfSurvived['total'] = dfSurvived['Survived'] + dfSurvived['Died']
dfSurvived['rate'] = dfSurvived['Survived'] / dfSurvived['total']
dfSurvived

          Survived  Died  total      rate
Embarked
C               93    75    168  0.553571
Q               30    47     77  0.389610
S              217   427    644  0.336957

In [ ]:
# 2. 시각화를 통한 이상치 확인

In [ ]:
#3. 원핫 인코딩 연습