In [1]:
import os
baseDir = '../data/babynames'

In [60]:
import pandas as pd
import numpy as np

In [3]:
import matplotlib.pyplot as plt

In [4]:
os.listdir(baseDir)

['yob1880.txt',
 'yob1881.txt',
 'yob1882.txt',
 'yob1883.txt',
 'yob1884.txt',
 'yob1885.txt',
 'yob1886.txt',
 'yob1887.txt',
 'yob1888.txt',
 'yob1889.txt',
 'yob1890.txt',
 'yob1891.txt',
 'yob1892.txt',
 'yob1893.txt',
 'yob1894.txt',
 'yob1895.txt',
 'yob1896.txt',
 'yob1897.txt',
 'yob1898.txt',
 'yob1899.txt',
 'yob1900.txt',
 'yob1901.txt',
 'yob1902.txt',
 'yob1903.txt',
 'yob1904.txt',
 'yob1905.txt',
 'yob1906.txt',
 'yob1907.txt',
 'yob1908.txt',
 'yob1909.txt',
 'yob1910.txt',
 'yob1911.txt',
 'yob1912.txt',
 'yob1913.txt',
 'yob1914.txt',
 'yob1915.txt',
 'yob1916.txt',
 'yob1917.txt',
 'yob1918.txt',
 'yob1919.txt',
 'yob1920.txt',
 'yob1921.txt',
 'yob1922.txt',
 'yob1923.txt',
 'yob1924.txt',
 'yob1925.txt',
 'yob1926.txt',
 'yob1927.txt',
 'yob1928.txt',
 'yob1929.txt',
 'yob1930.txt',
 'yob1931.txt',
 'yob1932.txt',
 'yob1933.txt',
 'yob1934.txt',
 'yob1935.txt',
 'yob1936.txt',
 'yob1937.txt',
 'yob1938.txt',
 'yob1939.txt',
 'yob1940.txt',
 'yob1941.txt',
 'yob1942.txt',
 'yob1943.txt',
 'yob1944.txt',
 'yob1945.txt',
 'yob1946.txt',
 'yob1947.txt',
 'yob1948.txt',
 'yob1949.txt',
 'yob1950.txt',
 'yob1951.txt',
 'yob1952.txt',
 'yob1953.txt',
 'yob1954.txt',
 'yob1955.txt',
 'yob1956.txt',
 'yob1957.txt',
 'yob1958.txt',
 'yob1959.txt',
 'yob1960.txt',
 'yob1961.txt',
 'yob1962.txt',
 'yob1963.txt',
 'yob1964.txt',
 'yob1965.txt',
 'yob1966.txt',
 'yob1967.txt',
 'yob1968.txt',
 'yob1969.txt',
 'yob1970.txt',
 'yob1971.txt',
 'yob1972.txt',
 'yob1973.txt',
 'yob1974.txt',
 'yob1975.txt',
 'yob1976.txt',
 'yob1977.txt',
 'yob1978.txt',
 'yob1979.txt',
 'yob1980.txt',
 'yob1981.txt',
 'yob1982.txt',
 'yob1983.txt',
 'yob1984.txt',
 'yob1985.txt',
 'yob1986.txt',
 'yob1987.txt',
 'yob1988.txt',
 'yob1989.txt',
 'yob1990.txt',
 'yob1991.txt',
 'yob1992.txt',
 'yob1993.txt',
 'yob1994.txt',
 'yob1995.txt',
 'yob1996.txt',
 'yob1997.txt',
 'yob1998.txt',
 'yob1999.txt',
 'yob2000.txt',
 'yob2001.txt',
 'yob2002.txt',
 'yob2003.txt',
 'yob2004.txt',
 'yob2005.txt',
 'yob2006.txt',
 'yob2007.txt',
 'yob2008.txt',
 'yob2009.txt',
 'yob2010.txt']

In [5]:
fnames = os.listdir(baseDir)

In [6]:
f = open(os.path.join(baseDir, fnames[0]), "r").read()

In [7]:
df = pd.read_csv(os.path.join(baseDir, fnames[0]), names=['name', 'sex', 'births'])

In [8]:
df.head()

        name sex  births
0       Mary   F    7065
1       Anna   F    2604
2       Emma   F    2003
3  Elizabeth   F    1939
4     Minnie   F    1746

In [9]:
def countFreq(name):
    global freq
    for alphabet in name:
        if freq.get(alphabet):
            freq[alphabet] += 1
        else:
            freq[alphabet] = 1

In [10]:
def getCount():
    print(freq)

In [11]:
startYear = 1880
endYear = 2010
freq = {}
for year in range(startYear, endYear + 1):
    df = pd.read_csv(os.path.join(baseDir, 'yob%d.txt' % year), names=['name', 'sex', 'births'])
    df['name'].apply(countFreq)

In [12]:
dfRes = pd.DataFrame(freq.items(), columns=["alphabet", "freq"])

In [13]:
dfRes = dfRes.sort_values(by="freq", ascending=False)

In [69]:
dfRes.iloc[:10]

   alphabet     freq
1         a  1425320
12        e  1193584
5         n   905036
9         i   828887
2         r   688878
8         l   669406
23        o   469078
13        t   337296
28        s   333697
3         y   321302

## 영화 데이터에 대한 처리

In [15]:
os.listdir('../data/movielens/')

['movies.dat', 'ratings.dat', 'README', 'users.dat']

In [19]:
mnames=['movie_id', 'title', 'genres']
movies=pd.read_csv("../data/movielens/movies.dat",
                   names=mnames,header=None,sep="::")

c:\users\user\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  This is separate from the ipykernel package so we can avoid doing imports until

In [21]:
movies.head()

   movie_id                               title                        genres
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

In [22]:
import re

In [54]:
def getTitle(title):
    pat = re.compile('(.+)\((\d+)\)')
    r = pat.search(title).groups()
    return r[0].strip()

In [55]:
def getYear(title):
    pat = re.compile('(.+)\((\d+)\)')
    r = pat.search(title).groups()
    return int(r[1])

In [56]:
movies['year'] = movies['title'].apply(getYear)

In [57]:
movies['title'] = movies['title'].apply(getTitle)

In [63]:
ll = []
for n, m, in enumerate(movies['genres']):
    ll.append((n, m))

In [65]:
from sklearn.preprocessing import OneHotEncoder

In [66]:
enc = OneHotEncoder(handle_unknown='ignore')

In [67]:
enc.fit(ll)

OneHotEncoder(categorical_features=None, categories=None, drop=None,
              dtype=<class 'numpy.float64'>, handle_unknown='ignore',
              n_values=None, sparse=True)

In [68]:
enc.categories_

[array([0, 1, 2, ..., 3880, 3881, 3882], dtype=object),
 array(['Action', 'Adventure', 'Animation', "Children's", 'Comedy',
        'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror',
        'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War',
        'Western'], dtype=object)]